.cabecalho { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 15px 25px; 
  background-color: aqua;
} 
body { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: aliceblue;
} 
main { 
  flex: 1; 
} 

/*removendo estilizações padroes*/
*{
box-sizing: border-box;
margin: 0;/*espaço ao redor dos elementos*/
padding: 0;/*espaçamento interno dos elementos*/
}

.cabecalho {
padding: 15px 25px;/*espaçamento*/
}

.cartao {
width: 260px;/*largura*/
height: 200px;/*altura*/
}

.cartao-imagem {
width: 100%; /*faz a imagem ocupar 100% da largura do cartão */
}
footer { 
  background-color: #0d2146; 
  padding: 15px 25px; 
  color: #fff; 
} 
.cabecalho-link:focus { color: #ffe8d6; } 


.cartao:focus-within .cartao-interno { transform: rotateY(180deg); } 

.cabecalho-link:visited { color: #ffd1a6; } 